@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
*{

    padding: 0%;
    margin: 0;
}

body{

 text-align: center;
 margin-left: 10vh;
 margin-right: 10vh;
 font-family: 'Montserrat', sans-serif;
 background-color: rgb(45, 44, 44);
 color: white;
}
#titleName{

    font-weight: bolder;
    padding: 6vh;
    margin-left: 80px;
   

}
#imgt{
    padding: 3vh;


}
li{

    padding: 1vh;
    list-style-position: inside;
}
#benefits{
    padding: 4vh;
    font-weight: bolder;
}
#benefitsParagraph{

    font-size: large;
    font-weight: 500;
    padding: 2vh;
}
#steps{

    padding: 5vh;

}
#stepForVegetableSalad{

    padding: 3vh;
}
footer{

    padding: 2vh;
}